@model Student

<!-- TBC add a breadcrumb partial -->


<div class="card rounded shadow p-4">
  <h3 class="mb-4">Delete Student <span class="ms-3 text-danger fs-5">Are you sure?</span></h3> 
  

  <!-- display the student using a <dl> as per Details.cshtml -->     
  <dl class="row">  
    <dt class="col-4 pb-1">Name</dt>
    <dd class="col-8 pb-1">@Model.Name</dd>

    <dt class="col-4 pb-1">Course</dt>
    <dd class="col-8 pb-1">@Model.Course</dd>
    
    <dt class="col-4 pb-1">Age</dt>
    <dd class="col-8 pb-1">@Model.Age</dd>
    
    <dt class="col-4 pb-1">Email</dt>
    <dd class="col-8 pb-1">@Model.Email</dd>

    <dt class="col-4 pb-1">Classification</dt>
    <dd class="col-8 pb-1">@Model.Classification</dd>
  </dl>
  <div class="mt-4">
    <form asp-action="DeleteConfirm">
        <!-- student Id should be a hidden input field named 'Id' in the form -->      
        <input type="hidden" asp-for="Id" class="form-control"/>

        <button type="submit" class="btn btn-danger" aria-label="delete">Delete</button>       
        <a class="btn btn-secondary" asp-action="Details" asp-route-id="@Model.Id" >Cancel</a>
    </form>
  </div>
</div>

</div>